.title{
  pointer-events: none;
}
.right{
  transition: opacity .25s;
  font-size:14vh;
  position:absolute;
  pointer-events:none;
  z-index:-1;
  padding-left:1.75vw;
 


}
.left.right{
  padding-right:2vw;
}
.right.hide{
/*   opacity:0 */
}
.right>p:nth-child(even), .right>.line:nth-child(even){
  -webkit-transform: skew(60deg,-30deg) scaley(.66667) !important;
  transform: skew(60deg,-30deg) scaley(.66667) !important;
}
.right.left>p:nth-child(even), .right.left>.line:nth-child(even){
  -webkit-transform: skew(-60deg,30deg) scaley(.66667) !important;
  transform: skew(-60deg,30deg) scaley(.66667) !important;
}
/* .right.left>p:nth-child(even), .right.left>.line:nth-child(even){
  -webkit-transform: skew(-60deg,30deg) scaley(.66667) !important;
  transform: skew(-60deg,30deg) scaley(.66667) !important;
} */
.nav>p:nth-child(odd), .nav>.line:nth-child(odd){
  transform: scaley(1.1) !important;

}
.nav>p:nth-child(even), .nav>.line:nth-child(even){
  transform: skew(30deg,0deg) scaley(.9) !important;
      left: .2em;
      position: relative;
}
.nav.cv>p:nth-child(even), .nav.cv>.line:nth-child(even){
  transform: skew(0deg,0deg) scaley(1) !important;
}


/* .right.left{
  font-size: 5vw;
  margin-left: -15vw;
  position: relative;
  transition: .25s;
} */
.nav{
  font-size: 2vw;
  margin-left: -15vw;
  position: relative;
  z-index: 999;
  transition: .25s;
}
.cv{
  display: flex
}
.cv .line:hover{
  color: red;
}
.cv span{
pointer-events: none;
color: black;
}
.rightsmall{
  font-size: 2.5vw;
  width: 20vw;
  margin-left: -15vw;

}

.folded>p, .folded>.line{
overflow: hidden !important;
font-size: .95em !important;
margin: 0 !important;
white-space: nowrap !important;
height: .8em !important;


text-align: left;
text-transform: uppercase;

    font-weight: bold;
font-style: normal;
-webkit-font-kerning: normal;
font-kerning: normal;
-webkit-transform: translate3d(0,0,0);
letter-spacing: -0.025em;
margin-top: -12%;
}

.right>p:nth-child(odd), .right>.line:nth-child(odd){
  -webkit-transform: skew(0deg,-30deg) scaley(1.33333) !important;
transform: skew(0deg,-30deg) scaley(1.33333) !important;
}
.right.left>p:nth-child(odd), .right.left>.line:nth-child(odd){
  -webkit-transform: skew(0deg,30deg) scaley(1.33333) !important;
  transform: skew(0deg,30deg) scaley(1.33333) !important;
  left: 1.37em !important;
  position: relative;
}
/* .left>p:nth-child(odd), .left>.line:nth-child(odd){
  -webkit-transform: skew(0deg,30deg) scaley(1.33333) !important;
transform: skew(0deg,30deg) scaley(1.33333) !important;
} */

.right>p:nth-child(2), .right>.line:nth-child(2){
  position: relative !important;
   left: .46em !important;
}
.right.left>p:nth-child(2), .right.left>.line:nth-child(2){
  position: relative !important;
   left: .91em !important;
}
.right>p:nth-child(3), .right>.line:nth-child(3){
  position: relative !important;
    left: .92em !important;
}
.right.left>p:nth-child(3), .right.left>.line:nth-child(3){
  position: relative !important;
    left: .46em !important;
}
.right>p:nth-child(4), .right>.line:nth-child(4){
  position: relative !important;
    left: 1.38em !important;
}
.right.left>p:nth-child(4), .right.left>.line:nth-child(4){
  position: relative !important;
    left: 0em !important;
}
.right>p:nth-child(5), .right>.line:nth-child(5){
  position: relative !important;
    left: 1.84em !important;
}
.right.left>p:nth-child(5), .right.left>.line:nth-child(5){
  position: relative !important;
    left: -0.46em !important;
}
/* .left>p:nth-child(1), .left>.line:nth-child(1){
   text-align: left;


}
.left>p:nth-child(2), .left>.line:nth-child(2){
  position: relative !important;
   right: .46em !important;
   text-align: left;


}
.left>p:nth-child(3), .left>.line:nth-child(3){
  position: relative !important;
    right: .92em !important;
}
.left>p:nth-child(4), .left>.line:nth-child(4){
  position: relative !important;
    right: 1.38em !important;
} */

.folded.processed>.line>*{
  font-size: 1em !important;
margin: -1px;
white-space: nowrap !important;
overflow: hidden !important;
}

.folded>p>*, .folded>.line>*{
line-height: .8em !important;
    height: .8em !important;
}

.logo p{
  margin:0;
}
.logo a{
  display:block
}
h3.logo.about{
  font-size:4vw;
}
.line.shadow{
   transform: skew(33deg,0deg) scaley(.95) !important;
    left: 0.26em;
    position: relative;
    margin-top: -.02em !important;
}


@media screen and (max-width: 800px) {
  h3.logo.about{
  font-size:5vw;
    margin-bottom:4vw;
    margin-top:calc(40px + 5vw);
  }
  .right{
    font-size:12vw;
    position:absolute
  }
  .line.shadow{
    display:none !important;
    }
}