<!DOCTYPE html>
<html>
<head>
  <title>Richard Yee</title>
  <meta name="description" content="Portfolio Site">
  <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/1f22d9d6-e66a-48a3-a949-61254002d860%2Ffavicon.png?1526011202274"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="logo.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,700" rel="stylesheet">
  <script>var Firebase = {{{json firebase}}}</script>
</head>
<body>
  {{{body}}}
</body>
<script src="client.js"></script>
<script src="scroll.js"></script>
</html>